src/constants/locale
src/constants/Legal.js
src/constants/Messages.js
src/constants/ValidationMessages.js
node_modules
build
.babelrc.js
.eslintrc.js
craco.config.js
./storybook
src/components/**/*.stories.js
