@-webkit-keyframes timebarProgress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes timebarProgress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.c-alerter {
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--zindex-4);
  max-width: calc(100% - var(--unit-4) * 2);
  margin: var(--unit-4);
}

@media (min-width: 600px) {
  .c-alerter {
    max-width: calc(70% - var(--unit-4) * 2);
    margin: var(--unit-4);
  }
}

@media (min-width: 840px) {
  .c-alerter {
    max-width: calc(50% - var(--unit-4) * 2);
    margin: var(--unit-4);
  }
}

@media (min-width: 1280px) {
  .c-alerter {
    max-width: calc(40% - var(--unit-4) * 2);
    margin: var(--unit-4);
  }
}

@media (min-width: 1440px) {
  .c-alerter {
    max-width: calc(30% - var(--unit-4) * 2);
    margin: var(--unit-4);
  }
}

.c-alert {
  border-radius: var(--border-radius);
  color: var(--font-color-base);
  background-color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-m);
  position: relative;
  margin-bottom: var(--unit-4);
  max-width: 100%;
  min-width: 290px;
  width: fit-content;
}

.c-alert-text {
  padding: var(--unit-4);
}

.c-alert-timebar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  height: 2px;
  animation: timebarProgress 3s linear forwards;
  animation-play-state: running;
  align-self: baseline;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.c-alert:hover .c-alert-timebar {
  animation-play-state: paused;
}

.c-alert-close {
  opacity: 1;
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: var(--font-size-s);
  color: transparent;
  transition: var(--transition-all);
}
.c-alert:hover .c-alert-close {
  transition: var(--transition-all);
  color: var(--font-color-alt-2);
  opacity: 1;
}

@media (min-width: 840px) {
  .c-alert-close {
    opacity: 0;
  }
}

.c-alert-success {
  background-color: var(--color-success);
}

.c-alert-info {
  background-color: var(--color-info);
}

.c-alert-warning {
  background-color: var(--color-warning);
}

.c-alert-error {
  background-color: var(--color-error);
}

.c-alert--slide-in {
  animation: slide-in 0.2s forwards;
  -webkit-animation: slide-in 0.2s forwards;
}

.c-alert--slide-out {
  animation: slide-out 0.2s forwards;
  -webkit-animation: slide-out 0.2s forwards;
}
