.border-radius {
  border-radius: var(--border-radius);
}

.border-radius--50 {
  border-radius: 50%;
}

.border-radius--0 {
  border-radius: 0;
}

.border-radius--lg {
  border-radius: var(--border-radius-lg);
}

.border-radius-right--0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.border-radius-left--0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.border-radius-bottom--0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
