.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-cols-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-cols-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid-cols-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid-cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid-gap-1 {
  grid-gap: var(--unit-1);
}
.grid-gap-2 {
  grid-gap: var(--unit-2);
}

.grid-span-1 {
  grid-column: span 1;
}
.grid-span-2 {
  grid-column: span 2;
}
.grid-span-3 {
  grid-column: span 3;
}
.grid-span-4 {
  grid-column: span 4;
}
.grid-span-5 {
  grid-column: span 5;
}
.grid-span-6 {
  grid-column: span 6;
}
.grid-span-7 {
  grid-column: span 7;
}
.grid-span-8 {
  grid-column: span 8;
}
.grid-span-9 {
  grid-column: span 9;
}
.grid-span-10 {
  grid-column: span 10;
}
.grid-span-11 {
  grid-column: span 11;
}
.grid-span-12 {
  grid-column: span 12;
}

@media (max-width: 480px) {
  .grid-span-1-xs {
    grid-column: span 1;
  }
  .grid-span-2-xs {
    grid-column: span 2;
  }
  .grid-span-3-xs {
    grid-column: span 3;
  }
  .grid-span-4-xs {
    grid-column: span 4;
  }
  .grid-span-5-xs {
    grid-column: span 5;
  }
  .grid-span-6-xs {
    grid-column: span 6;
  }
  .grid-span-7-xs {
    grid-column: span 7;
  }
  .grid-span-8-xs {
    grid-column: span 8;
  }
  .grid-span-9-xs {
    grid-column: span 9;
  }
  .grid-span-10-xs {
    grid-column: span 10;
  }
  .grid-span-11-xs {
    grid-column: span 11;
  }
  .grid-span-12-xs {
    grid-column: span 12;
  }
}

@media (max-width: 840px) {
  .grid-span-1-md {
    grid-column: span 1;
  }
  .grid-span-2-md {
    grid-column: span 2;
  }
  .grid-span-3-md {
    grid-column: span 3;
  }
  .grid-span-4-md {
    grid-column: span 4;
  }
  .grid-span-5-md {
    grid-column: span 5;
  }
  .grid-span-6-md {
    grid-column: span 6;
  }
  .grid-span-7-md {
    grid-column: span 7;
  }
  .grid-span-8-md {
    grid-column: span 8;
  }
  .grid-span-9-md {
    grid-column: span 9;
  }
  .grid-span-10-md {
    grid-column: span 10;
  }
  .grid-span-11-md {
    grid-column: span 11;
  }
  .grid-span-12-md {
    grid-column: span 12;
  }
}
