.m--0 {
  margin: 0;
}

.m--1 {
  margin: var(--unit-1);
}

.m--2 {
  margin: var(--unit-2);
}

.m--3 {
  margin: var(--unit-3);
}

.m--4 {
  margin: var(--unit-4);
}

.m--6 {
  margin: var(--unit-6);
}

.m--8 {
  margin: var(--unit-8);
}

.my--0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx--0 {
  margin-left: 0;
  margin-right: 0;
}

.my--1 {
  margin-top: var(--unit-1);
  margin-bottom: var(--unit-1);
}

.mx--1 {
  margin-left: var(--unit-1);
  margin-right: var(--unit-1);
}

.my--2 {
  margin-top: var(--unit-2);
  margin-bottom: var(--unit-2);
}

.mx--2 {
  margin-left: var(--unit-2);
  margin-right: var(--unit-2);
}

.my--3 {
  margin-top: var(--unit-3);
  margin-bottom: var(--unit-3);
}

.mx--3 {
  margin-left: var(--unit-3);
  margin-right: var(--unit-3);
}

.my--4 {
  margin-top: var(--unit-4);
  margin-bottom: var(--unit-4);
}

.mx--4 {
  margin-left: var(--unit-4);
  margin-right: var(--unit-4);
}

.my--6 {
  margin-top: var(--unit-6);
  margin-bottom: var(--unit-6);
}

.mx--6 {
  margin-left: var(--unit-6);
  margin-right: var(--unit-6);
}

.my--8 {
  margin-top: var(--unit-8);
  margin-bottom: var(--unit-8);
}

.mx--8 {
  margin-left: var(--unit-8);
  margin-right: var(--unit-8);
}

.mt--0 {
  margin-top: 0;
}

.mr--0 {
  margin-right: 0;
}

.mb--0 {
  margin-bottom: 0;
}

.ml--0 {
  margin-left: 0;
}

.mt--1 {
  margin-top: var(--unit-1);
}

.mr--1 {
  margin-right: var(--unit-1);
}

.mb--1 {
  margin-bottom: var(--unit-1);
}

.ml--1 {
  margin-left: var(--unit-1);
}

.mt--2 {
  margin-top: var(--unit-2);
}

.mr--2 {
  margin-right: var(--unit-2);
}

.mb--2 {
  margin-bottom: var(--unit-2);
}
@media (max-width: 480px) {
  .mb--2-xs {
    margin-bottom: var(--unit-2);
  }
}

.ml--2 {
  margin-left: var(--unit-2);
}

.mt--3 {
  margin-top: var(--unit-3);
}

.mr--3 {
  margin-right: var(--unit-3);
}

.mb--3 {
  margin-bottom: var(--unit-3);
}

.ml--3 {
  margin-left: var(--unit-3);
}

.mt--4 {
  margin-top: var(--unit-4);
}
.mt--4-minus {
  margin-top: calc(var(--unit-4)  * -1);
}

.mr--4 {
  margin-right: var(--unit-4);
}

.mb--4 {
  margin-bottom: var(--unit-4);
}
@media (max-width: 480px) {
  .mb--4-xs {
    margin-bottom: var(--unit-4);
  }
}

.ml--4 {
  margin-left: var(--unit-4);
}

.mt--6 {
  margin-top: var(--unit-6);
}

.mr--6 {
  margin-right: var(--unit-6);
}

.mb--6 {
  margin-bottom: var(--unit-6);
}

.ml--6 {
  margin-left: var(--unit-6);
}

.mt--8 {
  margin-top: var(--unit-8);
}

.mr--8 {
  margin-right: var(--unit-8);
}

.mb--8 {
  margin-bottom: var(--unit-8);
}

.ml--8 {
  margin-left: var(--unit-8);
}
