.p--0 {
  padding: 0;
}

.p--1 {
  padding: var(--unit-1);
}

.p--2 {
  padding: var(--unit-2);
}

.p--3 {
  padding: var(--unit-3);
}

.p--4 {
  padding: var(--unit-4);
}

.p--5 {
  padding: var(--unit-5);
}

.p--6 {
  padding: var(--unit-6);
}

.p--8 {
  padding: var(--unit-8);
}

.py--0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px--0 {
  padding-left: 0;
  padding-right: 0;
}

.py--1 {
  padding-top: var(--unit-1);
  padding-bottom: var(--unit-1);
}

.px--1 {
  padding-left: var(--unit-1);
  padding-right: var(--unit-1);
}

.py--2 {
  padding-top: var(--unit-2);
  padding-bottom: var(--unit-2);
}

.px--2 {
  padding-left: var(--unit-2);
  padding-right: var(--unit-2);
}

.py--3 {
  padding-top: var(--unit-3);
  padding-bottom: var(--unit-3);
}

.px--3 {
  padding-left: var(--unit-3);
  padding-right: var(--unit-3);
}

.py--4 {
  padding-top: var(--unit-4);
  padding-bottom: var(--unit-4);
}

.px--4 {
  padding-left: var(--unit-4);
  padding-right: var(--unit-4);
}

.py--6 {
  padding-top: var(--unit-6);
  padding-bottom: var(--unit-6);
}

.px--6 {
  padding-left: var(--unit-6);
  padding-right: var(--unit-6);
}

.py--8 {
  padding-top: var(--unit-8);
  padding-bottom: var(--unit-8);
}

.px--8 {
  padding-left: var(--unit-8);
  padding-right: var(--unit-8);
}

.pt--0 {
  padding-top: 0;
}

.pr--0 {
  padding-right: 0;
}

.pb--0 {
  padding-bottom: 0;
}

.pl--0 {
  padding-left: 0;
}

.pt--1 {
  padding-top: var(--unit-1);
}

.pr--1 {
  padding-right: var(--unit-1);
}

.pb--1 {
  padding-bottom: var(--unit-1);
}

.pl--1 {
  padding-left: var(--unit-1);
}

.pt--2 {
  padding-top: var(--unit-2);
}

.pr--2 {
  padding-right: var(--unit-2);
}

.pb--2 {
  padding-bottom: var(--unit-2);
}

.pl--2 {
  padding-left: var(--unit-2);
}

.pt--3 {
  padding-top: var(--unit-3);
}

.pr--3 {
  padding-right: var(--unit-3);
}

.pb--3 {
  padding-bottom: var(--unit-3);
}

.pl--3 {
  padding-left: var(--unit-3);
}

.pt--4 {
  padding-top: var(--unit-4);
}

.pr--4 {
  padding-right: var(--unit-4);
}

.pb--4 {
  padding-bottom: var(--unit-4);
}

.pl--4 {
  padding-left: var(--unit-4);
}

.pt--6 {
  padding-top: var(--unit-6);
}

.pr--6 {
  padding-right: var(--unit-6);
}

.pb--6 {
  padding-bottom: var(--unit-6);
}

.pl--6 {
  padding-left: var(--unit-6);
}

.pt--8 {
  padding-top: var(--unit-8);
}

.pr--8 {
  padding-right: var(--unit-8);
}

.pb--8 {
  padding-bottom: var(--unit-8);
}

.pl--8 {
  padding-left: var(--unit-8);
}

@media (max-width: 480px) {
  .p--0-xs {
    padding: 0;
  }
}
