.position--absolute {
  position: absolute;
}

.position--relative {
  position: relative;
}

.position--centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.position--fixed {
  position: fixed;
}
