.top--1-minus {
  top: calc(var(--unit-1) * -1);
}

.top--2-minus {
  top: calc(var(--unit-2) * -1);
}

.top--2 {
  top: var(--unit-2);
}

.top--3 {
  top: var(--unit-3);
}

.top--4 {
  top: var(--unit-4);
}
